html {
    background:#222;
}
body {
    background:#eee;
    color:#666;
    font-family: Noto Serif, serif;
}
a {
    color:#703;
}
a:hover {
    color:#e46;
}
iframe {
    border:0px;
    display:block;
    margin:10px auto;
    overflow:hidden;
}
.btn-primary {
    background:transparent;
    border-color:#703;
    color:#703;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
.btn-primary:active, .btn-primary.active {
    background:#703;
    border-color:#703;
}
.pagination > li > a {
    color:#703;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color:#fff;
    background:#e46;
    border-color:#e46;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span, .pagination > li > span:focus, .pagination > li > span:hover {
    color:#fff;
    background:#703;
    border-color:#703;
}
h1,h2,h3,h4,h5,h6, 
.navbar, .footer {
    font-family: Open Sans Condensed, sans-serif;
}
.navbar .glyphicon-menu-hamburger {
    vertical-align:-1.5px;
}
.navbar-inverse {
    background:#222;
    color:#999;
}
.navbar-brand {
    padding:9px 15px 11px 15px;
}
.navbar-brand img {
    width:30px;
    vertical-align:-8px;
    display:inline-block;
}
.navbar-inverse .navbar-nav li a {
    color:#999;
}
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse a.navbar-brand:hover {
    background-color: #703;
}
.sidebar .sidebar-widget .panel-body {
    text-align:left;
}
.sidebar .sidebar-widget ul {
    margin: 0;
}
.sidebar .info-widget img {
    max-width: 200px;
    margin:0 auto 10px auto;
    display:block;
}
.sidebar .hashtag-widget .panel-body {
    line-height:25px;
}
.main {
    z-index:999;
}
.main header {
    margin-bottom:10px;
}
.main p {
    text-align:justify;
}
.main .tags-page p {
    line-height: 25px;
    text-align:left;
}
.main table {
    width:100%;
    margin:10px 0;
}
.main table td,
.main table th {
    padding:0 5px 0 0;
}
.main article {
    padding:10px 0;
    margin-bottom:25px;
}
.main .figure,
.main .acknowledgment {
    margin:10px 0;
    padding:5px 20px;
}
.main .figure .caption {
    display:block;
}
.main .figure .caption-prefix {
    font-variant: small-caps;
    font-weight: bold;
    color: #222;
    margin-right: 5px;
}
.main .figure img {
    max-width:500px;
    display:block;
    margin:0 auto;
}
.main .acknowledgment {
    border:0;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}
.main .acknowledgment p {
    margin:0;
}
.main .float-right {
    float:right;
}
.main .float-left {
    float:left;
}
.main ul.article-references {
	list-style-type: decimal;
}
.main .html5-embed {
    margin:10px 0;
}
.main .html5-embed-image{
    text-align:center;
}
.main .html5-embed .html5-embed-image{
    margin-bottom:10px;
}
.main .html5-embed-iframe{
    margin:10px auto;
}
.main h1, .main h2, .main h3,
.main h4, .main h5, .main h6 {
    color:#222;
    margin:0;
}
.main h2 {
    margin:5px 0;
}
.main .post-meta {
    color: #666;
    margin: 5px 0 5px 0;
    line-height:25px;
}
.main .post-meta .label-calendar {
    padding:0 4.2px 0 0;
}
.main .label-default,
.sidebar .hashtag-widget .label-default {
    background-color: transparent;
    color: #703;
    font-weight:normal;
    border:1px solid #703;
}
.main .label-default:hover,
.sidebar .hashtag-widget .label-default:hover {
    background-color: #703;
    color: #fff;
    border:1px solid #703;
}
.main .tags-page .label-default {
    font-size:1em;
    line-height:2.5;
}
.sidebar .hashtag-widget .more-tags {
    margin-top:10px;
}
.footer {
    margin-top:20px;
}
.footer .license-info {
    padding:15px;
}
.footer .license-info img {
    vertical-align:middle;
}
.footer a {
    color:#e46;
}
.footer a:hover {
    color:#fff;
}

@media (max-width: 991px) {
    .sidebar .sidebar-widget .panel-body {
        text-align:center;
    }
}

@media (max-width: 480px) {
    .main .float-right, .main .float-left {
        float:none;
    }
}

nav #tipue_search_input {
    font-family: inherit !important;
    font-size:14px !important;
    line-height:20px !important;
    background-image:none !important;
    background: #fff !important;
    color:#222 !important;
    padding:6px 12px !important;
    width:100% !important;
    border:1px solid #cccccc !important;
    border-bottom-left-radius:4px !important;
    border-top-left-radius:4px !important;
    box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset !important;
}
