html {
    background:#333;
}
body {
    background:#eee;
    color:#666;
    font-family: Noto Serif, Georgia, Liberation Serif, serif;
}
a {
    color:#703;
}
a:hover, a:focus {
    color:#e46;
}
blockquote {
    font-size:0.8em;
}
iframe {
    border:0px;
    display:block;
    margin:10px auto;
    overflow:hidden;
}
.embed-responsive iframe {
    margin:0;
}
.btn-primary {
    background:transparent;
    border-color:#703;
    color:#703;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
.btn-primary:active, .btn-primary.active {
    background:#703;
    border-color:#703;
    color:#fff;
}
.pagination > li > a {
    color:#703;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    color:#fff;
    background:#e46;
    border-color:#e46;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color:#fff;
    background:#703;
    border-color:#703;
}
h1,h2,h3,h4,h5,h6, 
.navbar, .footer {
    font-family: Open Sans Condensed, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.navbar .glyphicon-menu-hamburger {
    vertical-align:-1.5px;
}
.navbar-inverse {
    background:#333;
    color:#999;
}
.navbar-inverse .navbar-brand {
    padding:9px 15px 11px 15px;
    color:#999;
}
.navbar-inverse .navbar-brand img {
    width:30px;
    vertical-align:-8px;
    display:inline-block;
}
.navbar-inverse .navbar-nav li a {
    color:#999;
}
.navbar-inverse .navbar-nav li a:focus,
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse a.navbar-brand:focus,
.navbar-inverse a.navbar-brand:hover {
    background:#e46;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color:#fff;
    background-color:#703;
}
.navbar-inverse .navbar-toggle {
    border:1px solid #fff;
    padding:9px;
    margin:5px;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color:#703;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color:#703;
}
.sidebar .sidebar-widget .panel-body {
    text-align:left;
}
.sidebar .sidebar-widget ul {
    margin: 0;
}
.sidebar .info-widget img {
    max-width: 200px;
    margin:0 auto 10px auto;
    display:block;
}
.sidebar .hashtag-widget .panel-body {
    line-height:25px;
}
.main header {
    margin-bottom:10px;
}
.main p {
    text-align:justify;
}
.main .tags-page p {
    line-height: 25px;
    text-align:left;
}
.main table {
    width:100%;
    margin:10px 0;
}
.main table td,
.main table th {
    padding:0 5px 0 0;
}
.main article {
    padding:10px 0;
    margin-bottom:25px;
}
.main .figure,
.main .acknowledgment {
    margin:10px 0;
    padding:5px 20px;
}
.main .figure .caption {
    display:block;
}
.main .figure .caption-prefix {
    font-variant: small-caps;
    font-weight: bold;
    color: #333;
    margin-right: 5px;
}
.main .figure img {
    max-width:500px;
    display:block;
    margin:0 auto;
}
.main .acknowledgment {
    border:0;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}
.main .acknowledgment p {
    margin:0;
}
.main .float-right {
    float:right;
}
.main .float-left {
    float:left;
}
.main ul.article-references {
	list-style-type: decimal;
}
.main .html5-embed, .main .embed-responsive {
    margin:10px 0 20px 0;
}
.main .html5-embed-image{
    text-align:center;
}
.main .html5-embed .html5-embed-image{
    margin-bottom:10px;
}
.main .html5-embed-iframe{
    margin:10px auto 20px auto;
}
.main h1, .main h2, .main h3,
.main h4, .main h5, .main h6 {
    color:#333;
    margin:0;
}
.main h2 {
    margin:5px 0;
}
.main .post-meta {
    color: #666;
    margin: 5px 0 5px 0;
    line-height:25px;
}
.main .post-meta .label-calendar {
    padding:0 4.2px 0 0;
}
.main .label-default,
.sidebar .hashtag-widget .label-default {
    background-color: transparent;
    color: #703;
    font-weight:normal;
    border:1px solid #703;
}
.main .label-default:hover,
.main .label-default:focus,
.sidebar .hashtag-widget .label-default:hover,
.sidebar .hashtag-widget .label-default:focus {
    background-color: #703;
    color: #fff;
    border:1px solid #703;
}
.main .tags-page .label-default {
    font-size:1em;
    line-height:2.5;
}
.sidebar .hashtag-widget .more-tags {
    margin-top:10px;
}
.footer {
    margin-top:20px;
}
.footer .license-info {
    padding:15px;
}
.footer .license-info img {
    vertical-align:middle;
}
.footer a {
    color:#e46;
}
.footer a:hover, 
.footer a:focus {
    color:#fff;
}

@media (max-width: 1200px) {
    .sidebar .info-widget img {
        width:160px;
    }
}

@media (max-width: 991px) {
    #js-load-sidebar {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 2%;
    }
    #js-load-sidebar > div:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    #js-load-sidebar > div:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }
    #js-load-sidebar > div:nth-child(3) {
        grid-column: 1/3;
        grid-row: 2;
    }
}

@media (max-width: 480px) {
    .main .float-right, .main .float-left {
        float:none;
    }
    #js-load-sidebar {
        display: block;
    }
}

nav #searchInput {
    font-family: inherit !important;
    font-size:14px !important;
    line-height:20px !important;
    background-image:none !important;
    background: #fff !important;
    color:#333 !important;
    padding:6px 12px !important;
    width:100% !important;
    border:1px solid #cccccc !important;
    border-bottom-left-radius:4px !important;
    border-top-left-radius:4px !important;
    box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset !important;
}

/* Pygments styling for code blocks */
.highlight pre { line-height: 125%; }
.highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.highlight td.linenos .special { color: #000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight span.linenos.special { color: #000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffc }
.highlight { background: #f8f8f8; }
.highlight .c { color: #488; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #f00 } /* Error */
.highlight .k { color: #080; font-weight: bold } /* Keyword */
.highlight .o { color: #666 } /* Operator */
.highlight .ch { color: #488; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #488; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #b70 } /* Comment.Preproc */
.highlight .cpf { color: #488; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #488; font-style: italic } /* Comment.Single */
.highlight .cs { color: #488; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a00 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #f00 } /* Generic.Error */
.highlight .gh { color: #008; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #0a0 } /* Generic.Inserted */
.highlight .go { color: #888 } /* Generic.Output */
.highlight .gp { color: #008; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #808; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #04d } /* Generic.Traceback */
.highlight .kc { color: #080; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #080; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #080; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #080 } /* Keyword.Pseudo */
.highlight .kr { color: #080; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #b04 } /* Keyword.Type */
.highlight .m { color: #666 } /* Literal.Number */
.highlight .s { color: #b22 } /* Literal.String */
.highlight .na { color: #792 } /* Name.Attribute */
.highlight .nb { color: #080 } /* Name.Builtin */
.highlight .nc { color: #00f; font-weight: bold } /* Name.Class */
.highlight .no { color: #800 } /* Name.Constant */
.highlight .nd { color: #a2f } /* Name.Decorator */
.highlight .ni { color: #999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #d43; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #00f } /* Name.Function */
.highlight .nl { color: #aa0 } /* Name.Label */
.highlight .nn { color: #00f; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #080; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #117 } /* Name.Variable */
.highlight .ow { color: #a2f; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbb } /* Text.Whitespace */
.highlight .mb { color: #666 } /* Literal.Number.Bin */
.highlight .mf { color: #666 } /* Literal.Number.Float */
.highlight .mh { color: #666 } /* Literal.Number.Hex */
.highlight .mi { color: #666 } /* Literal.Number.Integer */
.highlight .mo { color: #666 } /* Literal.Number.Oct */
.highlight .sa { color: #b22 } /* Literal.String.Affix */
.highlight .sb { color: #b22 } /* Literal.String.Backtick */
.highlight .sc { color: #b22 } /* Literal.String.Char */
.highlight .dl { color: #b22 } /* Literal.String.Delimiter */
.highlight .sd { color: #b22; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #b22 } /* Literal.String.Double */
.highlight .se { color: #b62; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #b22 } /* Literal.String.Heredoc */
.highlight .si { color: #b68; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #080 } /* Literal.String.Other */
.highlight .sr { color: #b68 } /* Literal.String.Regex */
.highlight .s1 { color: #b22 } /* Literal.String.Single */
.highlight .ss { color: #117 } /* Literal.String.Symbol */
.highlight .bp { color: #080 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #00f } /* Name.Function.Magic */
.highlight .vc { color: #117 } /* Name.Variable.Class */
.highlight .vg { color: #117 } /* Name.Variable.Global */
.highlight .vi { color: #117 } /* Name.Variable.Instance */
.highlight .vm { color: #117 } /* Name.Variable.Magic */
.highlight .il { color: #666 } /* Literal.Number.Integer.Long */
