{% extends "base.html" %}

{% block head_title %}
    {{ article.title|striptags|e }}
{% endblock %}

{% set skip_title = true %}
{% block body_title %}
{% endblock %}

{% block body_content %}
    <article>
        <header>
            <h1>{{ article.title }}</h1>
            <div class="post-meta">
                {{ m.render_meta(article,tags,AUTHOR) }}
            </div>
        </header>
        {{ article.content }}

        {% if article.related_posts %}
            <aside>
                <h2>Related content</h2>
                <ul>
                {% for related_post in article.related_posts %}
                    <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
                {% endfor %}
                </ul>
            </aside>
        {% endif %}
    </article>
{% endblock %}
