{% extends "base.html" %}

{% set skip_title = true %}
{% block body_title %}
    <h1>Articles</h1>
{% endblock body_title %}

{% block body_content %}

    {% for article in articles_page.object_list %}
        <article>
            <header>
                <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags|e }}">{{ article.title }}</a></h2>
                <div class="post-meta">
                    {{ m.render_meta(article,tags,AUTHOR) }}
                </div>
            </header>
            <div class="article-summary">{{ article.summary }}</div>
            {% if not (article.summary==article.content) %}
                <div><a class="continue-reading btn btn-primary" href="{{ SITEURL }}/{{ article.url }}">Continue Reading...</a></div>
            {% endif %}
        </article>
    {% endfor %}

    {% include 'pagination.html' %}

{% endblock body_content %}
