{% macro render_meta(article,tags,AUTHOR) %}
    <span class="label-calendar"><span class="glyphicon glyphicon-calendar"></span> {{ article.locale_date }}</span>
    {{ render_authors(article,AUTHOR) }}
    {{ render_tags(article,tags) }}
{% endmacro %}

{% macro render_authors(article,AUTHOR) %}
    {% if article.authors %}
        {% set author_list = [] %}
        {% for author in article.authors %}
            {% if not (author == AUTHOR) %}
                {% if author_list.append({'name': author.name, 'url': author.url}) %}{% endif %}
            {% endif %}
        {% endfor %}
        {% if author_list %}
            {% for author in author_list %}
                {{ render_author(author) }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro render_author(author) -%}
    <a href="{{ SITEURL }}/{{ author.url }}" class="author-label label label-default" title="View articles written by this author"><span class="glyphicon glyphicon-user"></span> {{ author.name }}</a>
{%- endmacro %}

{% macro render_tags(article, tags) %}
    {% if article.tags %}
        {% set article_tags = [] %}
        {% for tag, articles in tags %}
            {% for t in article.tags %}
                {% if tag.url == t.url %}
                    {# work around being unable to simply run the command #}
                    {% if article_tags.append({'name': tag.name, 'url': tag.url, 'articles': articles|length()}) %}{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% for tag in article_tags|sort(reverse = True, attribute = 'articles') %}
            {{ render_tag(tag) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_tag(tag) -%}
    <a href="{{ SITEURL }}/{{ tag.url }}" data-toggle="tooltip" class="label label-default" title="{{ tag.articles }} article{{ 's' if tag.articles > 1 else '' }} with this hashtag">#{{ tag.name }}</a>
{%- endmacro %}

{% macro license(SITENAME, SITEURL, LICENSE={'cc_name':'by-nc', 'copyright': '', 'disclaimer': '', from: False, to: False}) %}
    {% set cc_name = LICENSE['cc_name']|lower|trim|replace("cc-","") %}
    {% set license = [
            '<a class="license" rel="license" href="http://creativecommons.org/licenses/CC_NAME/4.0/" title="Creative Commons License">',
            '<img alt="Creative Commons License" src="/theme/img/license-80x15.png" />',
            '</a>',
        ]|join("")
    %}
    {{ license|replace("CC_NAME", cc_name,2)|trim }}
    {% if LICENSE['from'] %}
        {{ LICENSE['from'] }}{% if LICENSE['to'] %} &ndash; {{ LICENSE['to']}}{% endif %} 
    {% elif LICENSE['to'] %}
        {{ LICENSE['to'] }} 
    {% endif %}
    {% if LICENSE['copyright'] %}
        {{ LICENSE['copyright'] }}
    {% else %}
        {{ SITENAME }}.
    {% endif %}
    {% if LICENSE['disclaimer'] %}
        {{ LICENSE['disclaimer'] }}
    {% else %}
        The views and opinions expressed on this site are those of the <a href="{{ SITEURL }}/about/">authors</a> and do not necessarily reflect the official policies or positions of their previous, current and future employers or any of the employers' affiliates, partners or customers.<br>
        Our Privacy Policy can be found <a href="{{ SITEURL }}/privacy-policy.html">here</a>.<br>
        Generated by <a href="https://getpelican.com">Pelican</a> using <a href="https://github.com/akononovicius/PhysRisk-Pelican-theme">PhysRisk</a> theme.
    {% endif %}
{% endmacro %}

{% macro render_link_icon(link, label, favicon=True) -%}
    {% set icon = [] %}
    {% set favicon = False if favicon == False else True %}
    {% set protocol = link.split(':', 1)[0] %}
    {% if protocol == 'mailto' %}
        {% if icon.append('envelope') %}{% endif %}
    {% elif protocol.startswith('http') %}
        {% set domain = link.split('%s://' % protocol, 1)[1].split('/', 1)[0] %}
        {% set SITE_ICONS = {
                    'education': ['www.vu.lt','www.ff.vu.lt','www.tfai.vu.lt']
                  , 'cloud-download': ['github.com']
                  , 'thumbs-up': ['facebook.com', 'www.facebook.com']
                  , 'user': ['gontis.eu', 'kononovicius.lt', 'www.itpa.lt', 'web.vu.lt']
                }
        %}
        {% for (site_icon, site_domains) in SITE_ICONS.items() %}
            {% for site_domain in site_domains %}
                {% if domain.startswith(site_domain) %}
                    {% if icon.append(site_icon) %}{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% elif link.startswith('/feeds/') %}
        {% if icon.append('bell') %}{% endif %}
    {% endif %}
    <a href="{{ link }}">
        {% if icon %}
            <i class="glyphicon {{ 'glyphicon-%s' % icon[0] }}"></i>
        {% else %}
            <span class="glyphicon glyphicon-link"></span>
        {% endif %}
        {{ label }}
    </a>
{%- endmacro %}

{% macro render_link_widget(LINKS, IS_SITE_LINKS, FAVICON_LINKS) %}
    {% if LINKS %}
        <div class="sidebar-widget links-widget panel panel-default">
            {% if IS_SITE_LINKS %}
            <div class="panel-heading">Physics of Risk Links</div>
            {% else %}
            <div class="panel-heading">External Links</div>
            {% endif%}
            <div class="panel-body">
                <ul class="list-unstyled">
                {% for g_links in (LINKS,) %}
                    {% for title, link in g_links %}
                        <li>{{ render_link_icon(link, title, FAVICON_LINKS) }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_hashtag_widget(tags,SITE_URL,WIDGET_MAX_TAGS) %}
    <div class="sidebar-widget hashtag-widget panel panel-default">
        <div class="panel-heading">Top hashtags</div>
        <div class="panel-body">
            {% set widget_tags = [] %}
            {% for tag, articles in tags %}
                {# work around being unable to simply run the command #}
                {% if widget_tags.append({'name': tag.name, 'url': tag.url, 'articles': articles|length()}) %}{% endif %}
            {% endfor %}
            {% set wtags = widget_tags|sort(reverse = True, attribute = 'articles') %}
            {% for tag in wtags[:WIDGET_MAX_TAGS] %}
                {{ render_tag(tag) }}
            {% endfor %}
             <div><a class="more-tags btn btn-primary" href="{{ SITEURL }}/tags.html">See all hashtags...</a></div>
        </div>
    </div>
{% endmacro %}

{% macro render_info_widget(INFO_WIDGET={'logo': '', 'text': ''}) %}
    {% if INFO_WIDGET %}
        <div class="sidebar-widget info-widget panel panel-default">
            <div class="panel-body">
                <div><img class="logo" src="{{ INFO_WIDGET['logo'] }}"/></div>
                {{ INFO_WIDGET['text'] }}
            </div>
        </div>
    {% endif %}
{% endmacro %}
