{% extends "base.html" %}

{# borrowed from plumage theme #}
{# https://github.com/kdeldycke/plumage #}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.css"/>
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch_content.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch_set.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#tipue_search_input').tipuesearch({
                    'mode' : 'json',
                    'show': 10,
                    'newWindow': false,
                    'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
            });
        });
    </script>
{% endblock extra_js %}

{% block head_title %}
    Seach {{ super() }}
{% endblock %}

{% block body_title %}
    <h1>Search results:</h1>
{% endblock %}

{% block body_content %}
    <div id="tipue_search_content"></div>
{% endblock %}
